
body {
    margin: 10px; padding: 0; background-color: #fff; color: #333; font: 9pt/14pt verdana, arial;
}

h1 {
    font: 14pt/18pt verdana, arial;
}

h2 {
    font: bold 11pt/15pt verdana, arial; border-bottom: 1px dotted #999; margin: 10px 0 0 0;
}

h3 {
    font: bold 10pt/14pt verdana, arial; margin: 0;
}

pre {
    margin: 0;
}

a {
    text-decoration: none; color: #00e;
}

a:hover {
    padding-bottom: 1px; border-bottom: 1px dotted #00e;
}

.warn {
    display: block; color: #e66; font-weight: bold; padding-left: 20px; height: 20px; background: transparent url(../media/warn.png) 1px 1px no-repeat;
}

.warnsub {
    display: block; padding-left: 20px; color: #844; font-size: 8pt;
}

.warnsub ol {
    margin: 0; padding-left: 20px;
}

.info {
    display: block; color: #666; font-size: 8pt;
}

.wait {
    display: block; color: #666; padding-left: 20px; height: 20px; background: transparent url(../media/wait.gif) 1px 1px no-repeat;
}

.debug {
    display: block; color: #999; font-size: 8pt;
}

.good {
    display: block; color: #6e6; font-weight: bold; padding-left: 20px; height: 20px; background: transparent url(../media/info.png) 1px 1px no-repeat;
}

.headers {
    font-size: 8pt; line-height: 9pt; border: 1px dotted #ccc; padding: 5px; background-color: #fffffa; color: #666;
}

.content {
    font-size: 8pt; line-height: 9pt; border: 1px dotted #ccc; border-top: none; padding: 5px; background-color: #fafaff; color: #666;
}

.info a {

}

.debug a {

}
